.apresentacao {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.apresentacao__conteudo {
width: 50%;
}

.apresentacao__conteudo__titulo {
background-color: white;
color: black;
}

.apresentacao__conteudo__texto {
color: black;
}

.apresentacao__link {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.apresentacao__link__subtitulo {
color: blue;
}

.apresentacao__imagem {
width: 50%;
}

.apresentacao__video {
    width: 50%;
}